body * {
    font-size: 1rem;
}

header {
    margin: 10px;
    background-color: #043687;
    min-height: 10vh;
    justify-content: center;
}

.header-dark {
    background-color: var(--bs-dark);
    color: var(--bs-light);
}

#ghestino-logo {
    position: absolute;
    max-width: 100px;
}

main {
    margin: 10px;
    border-radius: 5px;
}

main *:not(.form-floating label) {
    font-size: 1.2rem;
}

.date-picker-input {
    display: inline-block !important;
}

.date-picker-icon {
    display: inline-block;
    font-size: 2rem !important;
    position: absolute;
    top: 5px;
    left: 5px;
    cursor: pointer;
}

form input[type=text]:enabled,
form input[type=radio]:not(:checked),
.form-select {
    background-color: white!important;
}

.form-range {

}

.form-floating > label, .form-floating:focus > label, .form-floating:focus > label::after {
    background-color: transparent!important;
}

.form-floating:focus > label::after, .form-floating > label::after {
    content: none!important;
}

footer {
    position: static !important;
}

@media screen and (orientation: landscape) {
    header {
        min-height: 10vh;
        justify-content: center;
    }

    #ghestino-logo {
        position: absolute;
        max-width: 100px;
    }
}

